<div class="desktopCnt" ng-controller="BFUnitDesktopCtrl">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				ng-click="openCloseMenu();">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ng-click="changeTab('home');"
				style="cursor: pointer;">BFUnitEU</a>
		</div>
		<div class="navbar-collapse" ng-class="{collapse:menuOpen=='false'}">
			<ul class="nav navbar-nav">
				<li ng-class="{active:selectedTab=='home'}" style="cursor: pointer;"><a
					ng-click="changeTab('home');">Home</a></li>
				<li ng-class="{active:selectedTab=='units'}"
					style="cursor: pointer;"><a ng-click="changeTab('units');">Unit</a></li>
				<li ng-class="{active:selectedTab=='team'}" style="cursor: pointer;"><a
					ng-click="changeTab('team');">Team</a></li>
			</ul>
		</div>
	</nav>
	<div id="pageGroup" class="panel-group" role="tablist"
		aria-multiselectable="false">
		<div>
			<div class="panel-collapse collapse "
				ng-class="{in:selectedTab=='home'}" role="tabpanel">
				<p style="margin: 12px 10px 3px;">
					Queste pagine raccolgono le opinioni raccolte nel <a
						href="http://bravefrontieritaliafan.forumfree.it">nostro forum</a>
					riguardo le unità Eu, i prossimi batch e le unità che verranno
					potenziate in futuro.
				</p>
				<br />

				<div class="panel panel-default" style="margin: 5px;">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title" style="width: 100%;">Prossimo Batch</h4>
					</div>
					<div>
						<table border="0" style="width: 100%;">
							<tbody>
								<tr ng-repeat="x in next | filter:filterGroups3">
									<td valign="top" align="center" width="33%" style="padding: 5px;">
										<a href="{{x.link}}" target="_blank">
											<img src="{{x.icon}}" style="display: block;" />
											<div>{{x.name}}</div>
										</a>
										<div class="label label-primary">{{'- ' +	x.vote + ' -'}}</div>
										<div ng-bind-html="x.reason | unsafe"></div>
									</td>
									<td valign="top" align="center" width="33%" style="padding: 5px;">
										<a href="{{next[x._index+1].link}}" target="_blank">
											<img src="{{next[x._index+1].icon}}" style="display: block;" />
											<div>{{next[x._index+1].name}}</div>
										</a>
										<div class="label label-primary">{{'- ' + next[x._index+1].vote + ' -'}}</div>
										<div ng-bind-html="next[x._index+1].reason | unsafe"></div>
									</td>
									<td valign="top" align="center" width="33%" style="padding: 5px;">
										<a href="{{next[x._index+2].link}}" target="_blank">
											<img src="{{next[x._index+2].icon}}" style="display: block;" />
											<div>{{next[x._index+2].name}}</div>
										</a>
										<div class="label label-primary">{{'- ' + next[x._index+2].vote + ' -'}}</div>
										<div ng-bind-html="next[x._index+2].reason | unsafe"></div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<br />
				<p style="margin: 2px 10px;">Questo è l'elenco dei prossimi
					upgrade delle unità e quelli già presenti in GL che prima o poi
					arriveranno in EU</p>
				<br />

				<div class="panel-group" id="unitNext" role="tablist"
					aria-multiselectable="false">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="hnexteu6">
							<a class="panel-title" role="button" data-toggle="collapse"
								data-parent="#unitNext" href="#cnexteu6" aria-expanded="true"
								aria-controls="cnexteu6" onclick="return false;"
								style="width: 100%;">
								<h4 class="panel-title" style="width: 100%;">Unità con 6*
									in EU</h4>
							</a>
						</div>
						<div id="cnexteu6" class="panel-collapse collapse" role="tabpanel"
							aria-labelledby="hnexteu6">
							<div>
								<table class="table table-striped">
									<tr />
									<!-- Mi serve per partire coi colori invertiti -->
									<tr ng-repeat="x in next6eu | filter:filterGroups2">
										<td valign="top"><img src="{{x.icon}}" /></td>
										<td width="50%"><b>{{x.name}}</b>
											<p>{{x.text}}</p></td>
										<td valign="top"><div
												style="width: 100%; text-align: right;">
												<span class="label label-primary">{{x.vote}}</span>
											</div></td>
										<td><img ng-if="next6eu[x._index+1]"
											src="{{next6eu[x._index+1].icon}}" /></td>
										<td width="50%"><div ng-if="next6eu[x._index+1]">
												<b>{{next6eu[x._index+1].name}}</b>
												<p>{{next6eu[x._index+1].text}}</p>
											</div></td>
										<td valign="top"><div
												style="width: 100%; text-align: right;">
												<span class="label label-primary">{{next6eu[x._index+1].vote}}</span>
											</div></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="hglobal6">
							<a class="panel-title" role="button" data-toggle="collapse"
								data-parent="#unitNext" href="#cglobal6" aria-expanded="true"
								aria-controls="cglobal6" onclick="return false;"
								style="width: 100%;">
								<h4 class="panel-title" style="width: 100%;">Unità con 6*
									in GL</h4>
							</a>
						</div>
						<div id="cglobal6" class="panel-collapse collapse" role="tabpanel"
							aria-labelledby="hglobal6">
							<div>
								<table class="table table-striped">
									<tr />
									<!-- Mi serve per partire coi colori invertiti -->
									<tr ng-repeat="x in global6 | filter:filterGroups2">
										<td valign="top"><img src="{{x.icon}}" /></td>
										<td width="50%"><b>{{x.name}}</b>
											<p>{{x.text}}</p></td>
										<td valign="top"><div
												style="width: 100%; text-align: right;">
												<span class="label label-primary">{{x.vote}}</span>
											</div></td>
										<td><img ng-if="global6[x._index+1]"
											src="{{global6[x._index+1].icon}}" /></td>
										<td width="50%"><div ng-if="global6[x._index+1]">
												<b>{{global6[x._index+1].name}}</b>
												<p>{{global6[x._index+1].text}}</p>
											</div></td>
										<td valign="top"><div
												style="width: 100%; text-align: right;">
												<span class="label label-primary">{{global6[x._index+1].vote}}</span>
											</div></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="hglobal7">
							<a class="panel-title" role="button" data-toggle="collapse"
								data-parent="#unitNext" href="#cglobal7" aria-expanded="true"
								aria-controls="cglobal7" onclick="return false;"
								style="width: 100%;">
								<h4 class="panel-title" style="width: 100%;">Unità con 7*
									in GL</h4>
							</a>
						</div>
						<div id="cglobal7" class="panel-collapse collapse" role="tabpanel"
							aria-labelledby="hglobal7">
							<div>
								<table class="table table-striped">
									<tr />
									<!-- Mi serve per partire coi colori invertiti -->
									<tr ng-repeat="x in global7 | filter:filterGroups2">
										<td valign="top"><img src="{{x.icon}}" /></td>
										<td width="50%"><b>{{x.name}}</b>
											<p>{{x.text}}</p></td>
										<td valign="top"><div
												style="width: 100%; text-align: right;">
												<span class="label label-primary">{{x.vote}}</span>
											</div></td>
										<td><img ng-if="global7[x._index+1]"
											src="{{global7[x._index+1].icon}}" /></td>
										<td width="50%"><div ng-if="global7[x._index+1]">
												<b>{{global7[x._index+1].name}}</b>
												<p>{{global7[x._index+1].text}}</p>
											</div></td>
										<td valign="top"><div
												style="width: 100%; text-align: right;">
												<span class="label label-primary">{{global7[x._index+1].vote}}</span>
											</div></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-collapse collapse "
			ng-class="{in:selectedTab=='units'}" role="tabpanel">
			<p style="margin: 12px 10px 3px;">Questa pagina raccoglie le
				opinioni raccolte nel nostro forum riguardo le unità Eu.</p>
			<br />

			<div class="panel-group" id="unitAccordion" role="tablist"
				aria-multiselectable="false">
				<div class="panel panel-default" ng-repeat="grp in groups">
					<div class="panel-heading" role="tab" id="hunits{{$index}}">
						<a class="panel-title" role="button" data-toggle="collapse"
							data-parent="#unitAccordion" href="#cunits{{$index}}"
							aria-expanded="true" aria-controls="cunits{{$index}}"
							onclick="return false;" style="width: 100%;">
							<h4 class="panel-title" style="width: 100%;">{{grp.name}}</h4>
						</a>
					</div>
					<div id="cunits{{$index}}" class="panel-collapse collapse"
						role="tabpanel" aria-labelledby="hunits{{$index}}">
						<div>
							<table class="table table-striped">
								<tr />
								<!-- Mi serve per partire coi colori invertiti -->
								<tr ng-repeat="x in grp.units | filter:filterGroups3">
									<td><img src="{{x.icon}}" /></td>
									<td width="33%">{{x.name}}</td>
									<td valign="top"><div ng-if="x.card"
											style="width: 100%; text-align: right;">
											<a href="{{x.card}}" target="_blank"><span
												class="label label-primary">Scheda</span></a>
										</div></td>
									<td><img ng-if="grp.units[x._index+1]"
										src="{{grp.units[x._index+1].icon}}" /></td>
									<td width="33%"><div ng-if="grp.units[x._index+1]">{{grp.units[x._index+1].name}}</div></td>
									<td valign="top"><div ng-if="grp.units[x._index+1].card"
											style="width: 100%; text-align: right;">
											<a href="{{grp.units[x._index+1].card}}" target="_blank"><span
												class="label label-primary">Scheda</span></a>
										</div></td>
									<td><img ng-if="grp.units[x._index+2]"
										src="{{grp.units[x._index+2].icon}}" /></td>
									<td width="33%"><div ng-if="grp.units[x._index+2]">{{grp.units[x._index+2].name}}</div></td>
									<td valign="top"><div ng-if="grp.units[x._index+2].card"
											style="width: 100%; text-align: right;">
											<a href="{{grp.units[x._index+2].card}}" target="_blank"><span
												class="label label-primary">Scheda</span></a>
										</div></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="hunitsURnk">
						<a class="panel-title" role="button" data-toggle="collapse"
							data-parent="#unitAccordion" href="#cunitsURnk"
							aria-expanded="true" aria-controls="cunitsURnk"
							onclick="return false;" style="width: 100%;">
							<h4 class="panel-title" style="width: 100%;">Non ancora
								categorizzate</h4>
						</a>
					</div>
					<div id="cunitsURnk" class="panel-collapse collapse"
						role="tabpanel" aria-labelledby="hunitsURnk">
						<div>
							<table class="table table-striped">
								<tr />
								<!-- Mi serve per partire coi colori invertiti -->
								<tr ng-repeat="x in unranked | filter:filterGroups3">
									<td><img src="{{x.icon}}" /></td>
									<td width="33%">{{x.name}}</td>
									<td><img ng-if="unranked[x._index+1]"
										src="{{unranked[x._index+1].icon}}" /></td>
									<td width="33%"><div ng-if="unranked[x._index+1]">{{unranked[x._index+1].name}}</div></td>
									<td><img ng-if="unranked[x._index+2]"
										src="{{unranked[x._index+2].icon}}" /></td>
									<td width="33%"><div ng-if="unranked[x._index+2]">{{unranked[x._index+2].name}}</div></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-collapse collapse "
			ng-class="{in:selectedTab=='team'}" role="tabpanel">
			<p style="margin: 12px 10px 3px;">Questa pagina raccoglie le
				unità separate per utilità nei vari tipi di team.</p>
			<br />

			<div class="panel-body">
				<div class="panel-group" id="teamAccordion" role="tablist"
					aria-multiselectable="false">
					<div class="panel panel-default" ng-repeat="grp in team">
						<div class="panel-heading" role="tab" id="hteam{{$index}}">
							<a class="panel-title" role="button" data-toggle="collapse"
								data-parent="#teamAccordion" href="#cteam{{$index}}"
								aria-expanded="true" aria-controls="cteam{{$index}}"
								onclick="return false;" style="width: 100%;">
								<h4 class="panel-title" style="width: 100%;">{{grp.name}}</h4>
							</a>
						</div>
						<div id="cteam{{$index}}" class="panel-collapse collapse"
							role="tabpanel" aria-labelledby="hteam{{$index}}">
							<div>
								<table class="table table-striped">
									<tr />
									<!-- Mi serve per partire coi colori invertiti -->
									<tr ng-repeat="x in grp.units | filter:filterGroups2">
										<td valign="top"><img src="{{x.icon}}" /></td>
										<td width="50%"><b>{{x.name}}</b>
											<p>{{x.text}}</p></td>
										<td valign="top"><div ng-if="x.card"
												style="width: 100%; text-align: right;">
												<a href="{{x.card}}" target="_blank"><span
													class="label label-primary">Scheda</span></a>
											</div></td>
										<td valign="top"><img ng-if="grp.units[x._index+1]"
											src="{{grp.units[x._index+1].icon}}" /></td>
										<td width="50%"><div ng-if="grp.units[x._index+1]">
												<b>{{grp.units[x._index+1].name}}</b>
												<p>{{grp.units[x._index+1].text}}</p>
											</div></td>
										<td valign="top"><div ng-if="grp.units[x._index+1].card"
												style="width: 100%; text-align: right;">
												<a href="{{grp.units[x._index+1].card}}" target="_blank"><span
													class="label label-primary">Scheda</span></a>
											</div></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer">
		<p class="text-muted">
			Aiutaci commentando il post nel nostro <a
				href="http://bravefrontieritaliafan.forumfree.it/?t=71174256">forum</a>
		</p>
	</footer>
</div>