<div ng-controller="BFUnitMobileCtrl" style="padding-top: 60px">
	<div class="navbar navbar-default">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/">BFUnitEU</a>
		</div>
		<div class="collapse navbar-collapse" id="nav-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#/">Home</a></li>
				<li><a href="#/next">Next Batch</a></li>
				<li><a href="#/unit">Unit</a></li>
				<li><a href="#/team">Team</a></li>
			</ul>
		</div>
	</div>
	<p>
		Ho cercato un po' in giro informazioni a riguardo ma non ne ho mai trovate molte...se non qualche utente disposto a dare due dritte in merito...come me penso che tanti player che han giocato solo all'EU a volte necessitino di sapere se le prossime unità che usciranno saranno importanti o da cestinare e allo stesso modo se tenere o meno un unità nel proprio "inventario" e livellarle o se buttarle via o semplicemente ignorarle in attesa di modifiche future..
		L'idea era quella di tenere un elenco delle unità indicando se importante o meno e nel caso sia importante se esiste qualcosa di free o simile che possa farne le veci...e in questo possono aiutare solo i player GL e JP che sanno già cosa muore e cosa va avanti
	</p>
</div>